{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <h3 class="text-center">{{top}}</h3>

    <div>
      <table class="border form-control table">
        <tr>
          <th>Symbol</th>
          <th>Price</th>
          <th>Shares</th>
          <th>Type</th>
          <th>Date</th>
        </tr>

        <!-- insert a for loop here? -->
        {% for symbol, price, shares, type, date in history %}
        <tr>
          <td>{{symbol}}</td>
          <td>{{price}}</td>
          <td>{{shares}}</td>
          <td>{{type}}</td>
          <td>{{date}}</td>
        </tr>
        {% endfor %}

      </table>
    </div>
{% endblock %}
